@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-shnfNUtUMHbI8u: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token-shnfNUtUMHbI8u);
  --token-Rh43C_vL1nkvZn: #ffffff;
  --plasmic-token-white: var(--token-Rh43C_vL1nkvZn);
  --token-SS0KTGBAXbT8dy: #1b1b18;
  --plasmic-token-black: var(--token-SS0KTGBAXbT8dy);
  --token-EeXtmnxPeQBMX3: #282828;
  --plasmic-token-primary-color: var(--token-EeXtmnxPeQBMX3);
  --token-fQA3ubIJaG8SmC: 48px;
  --plasmic-token-lead-title: var(--token-fQA3ubIJaG8SmC);
  --token-UUpHj8X7_P2WCD: 16px;
  --plasmic-token-primary-text: var(--token-UUpHj8X7_P2WCD);
  --token-mYNRY-_2Qu7HIp: Inter;
  --plasmic-token-primary-font: var(--token-mYNRY-_2Qu7HIp);
  --token-4Ps6iE3N1ZedqZ: 24px;
  --plasmic-token-small-title: var(--token-4Ps6iE3N1ZedqZ);
  --token-xKmDIAdXG_ya5K: 30px;
  --plasmic-token-lead-title-sm: var(--token-xKmDIAdXG_ya5K);
  --token-Dr-rPMaBX6ZAFe: 20px;
  --plasmic-token-small-title-sm: var(--token-Dr-rPMaBX6ZAFe);
  --token-dRNJS7yjGvF3yj: #0091ff;
  --plasmic-token-clr: var(--token-dRNJS7yjGvF3yj);
  --token-BU_yvaGILmRBF7: var(--token-dRNJS7yjGvF3yj);
  --plasmic-token-unnamed-style-token-2: var(--token-BU_yvaGILmRBF7);
  --token-EvKedp2u7YwEZy: var(--token-1MlFDqI6SwgnCn);
  --plasmic-token-unnamed-style-token-3: var(--token-EvKedp2u7YwEZy);
  --token-1MlFDqI6SwgnCn: var(--token-43bkkDA0lCRENj);
  --plasmic-token-unnamed-style-token-4: var(--token-1MlFDqI6SwgnCn);
  --token-43bkkDA0lCRENj: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-43bkkDA0lCRENj);
  --token-W6AZiBrkCnFBRX: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token-W6AZiBrkCnFBRX);
  --token-w3OQ9iM8DqGEZG: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-w3OQ9iM8DqGEZG);
  --token-vHqzjE3ZapP-mx: var(--token-W6AZiBrkCnFBRX);
  --plasmic-token-unnamed-style-token-8: var(--token-vHqzjE3ZapP-mx);
  --token-oQ4hBesyeHncNE: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-oQ4hBesyeHncNE);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(
    .global_unnamedGlobalGroupOfVariants_unnamedVariant
  ) {
  --mixin-uxCsu6WSQtIc0q_font-family: "Roboto", sans-serif;
  --mixin-uxCsu6WSQtIc0q_font-size: 16px;
  --mixin-uxCsu6WSQtIc0q_font-weight: 400;
  --mixin-uxCsu6WSQtIc0q_font-style: normal;
  --mixin-uxCsu6WSQtIc0q_color: var(--token-nKtSCdeVA7U3fI);
  --mixin-uxCsu6WSQtIc0q_text-align: left;
  --mixin-uxCsu6WSQtIc0q_text-transform: none;
  --mixin-uxCsu6WSQtIc0q_line-height: 1.5;
  --mixin-uxCsu6WSQtIc0q_letter-spacing: normal;
  --mixin-uxCsu6WSQtIc0q_white-space: pre-wrap;
  --mixin-uxCsu6WSQtIc0q_user-select: text;
  --mixin-uxCsu6WSQtIc0q_text-decoration-line: none;
  --mixin-uxCsu6WSQtIc0q_text-overflow: clip;
  --mixin-fXIcBeV4GFcc3j_color: var(--token-Rh43C_vL1nkvZn);
  --mixin-fXIcBeV4GFcc3j_font-weight: 700;
  --mixin-fXIcBeV4GFcc3j_font-size: 50px;
  --mixin-fXIcBeV4GFcc3j_line-height: 1;
  --mixin-fXIcBeV4GFcc3j_letter-spacing: -1px;
  --mixin-fXIcBeV4GFcc3j_font-family: "Inter", sans-serif;
  --mixin-fXIcBeV4GFcc3j_white-space: pre-wrap;
  --mixin-WXYzd-cwU9In0t_color: #000000;
  --mixin-WXYzd-cwU9In0t_font-weight: 700;
  --mixin-WXYzd-cwU9In0t_font-size: 36px;
  --mixin-WXYzd-cwU9In0t_line-height: 1.1;
  --mixin-WXYzd-cwU9In0t_letter-spacing: -1px;
  --mixin-WXYzd-cwU9In0t_font-family: "Inter", sans-serif;
  --mixin-WXYzd-cwU9In0t_box-shadow: none;
  --mixin-WXYzd-cwU9In0t_white-space: pre-wrap;
  --mixin-HKl4QnzIHBCy5a_color: #3291ff;
  --mixin-HKl4QnzIHBCy5a_white-space: pre-wrap;
  --mixin-H584kZaFklEC9R_color: #000000;
  --mixin-H584kZaFklEC9R_font-weight: 600;
  --mixin-H584kZaFklEC9R_font-size: 28px;
  --mixin-H584kZaFklEC9R_line-height: 1.2;
  --mixin-H584kZaFklEC9R_letter-spacing: -0.8px;
  --mixin-H584kZaFklEC9R_font-family: "Inter", sans-serif;
  --mixin-H584kZaFklEC9R_white-space: pre-wrap;
  --mixin-fkht-zK0OVP_Xq_color: #000000;
  --mixin-fkht-zK0OVP_Xq_font-weight: 600;
  --mixin-fkht-zK0OVP_Xq_font-size: 24px;
  --mixin-fkht-zK0OVP_Xq_line-height: 1.3;
  --mixin-fkht-zK0OVP_Xq_letter-spacing: -0.5px;
  --mixin-fkht-zK0OVP_Xq_white-space: pre-wrap;
  --mixin-xsFjTk8N4MGH1Q_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xsFjTk8N4MGH1Q_border-bottom-color: #dddddd;
  --mixin-xsFjTk8N4MGH1Q_border-bottom-style: solid;
  --mixin-xsFjTk8N4MGH1Q_border-bottom-width: 1px;
  --mixin-xsFjTk8N4MGH1Q_border-left-color: #dddddd;
  --mixin-xsFjTk8N4MGH1Q_border-left-style: solid;
  --mixin-xsFjTk8N4MGH1Q_border-left-width: 1px;
  --mixin-xsFjTk8N4MGH1Q_border-right-color: #dddddd;
  --mixin-xsFjTk8N4MGH1Q_border-right-style: solid;
  --mixin-xsFjTk8N4MGH1Q_border-right-width: 1px;
  --mixin-xsFjTk8N4MGH1Q_border-top-color: #dddddd;
  --mixin-xsFjTk8N4MGH1Q_border-top-style: solid;
  --mixin-xsFjTk8N4MGH1Q_border-top-width: 1px;
  --mixin-xsFjTk8N4MGH1Q_border-bottom-left-radius: 3px;
  --mixin-xsFjTk8N4MGH1Q_border-bottom-right-radius: 3px;
  --mixin-xsFjTk8N4MGH1Q_border-top-left-radius: 3px;
  --mixin-xsFjTk8N4MGH1Q_border-top-right-radius: 3px;
  --mixin-xsFjTk8N4MGH1Q_font-family: "Inconsolata";
  --mixin-xsFjTk8N4MGH1Q_padding-bottom: 1px;
  --mixin-xsFjTk8N4MGH1Q_padding-left: 4px;
  --mixin-xsFjTk8N4MGH1Q_padding-right: 4px;
  --mixin-xsFjTk8N4MGH1Q_padding-top: 1px;
  --mixin-xsFjTk8N4MGH1Q_white-space: pre-wrap;
  --mixin-BvvRaTjk-38jUF_border-left-color: #dddddd;
  --mixin-BvvRaTjk-38jUF_border-left-style: solid;
  --mixin-BvvRaTjk-38jUF_border-left-width: 3px;
  --mixin-BvvRaTjk-38jUF_color: #888888;
  --mixin-BvvRaTjk-38jUF_padding-left: 10px;
  --mixin-BvvRaTjk-38jUF_white-space: pre-wrap;
  --mixin-3o-MzBpT9LLBQS_font-family: "Inter", sans-serif;
  --mixin-3o-MzBpT9LLBQS_color: #000000;
  --mixin-3o-MzBpT9LLBQS_font-size: 16px;
  --mixin-3o-MzBpT9LLBQS_font-weight: 600;
  --mixin-3o-MzBpT9LLBQS_line-height: 1.5;
  --mixin-3o-MzBpT9LLBQS_white-space: pre-wrap;
  --mixin-5lJ_akiZvYS7G6_font-family: "Inter", sans-serif;
  --mixin-5lJ_akiZvYS7G6_font-size: 20px;
  --mixin-5lJ_akiZvYS7G6_font-weight: 500;
  --mixin-5lJ_akiZvYS7G6_color: var(--token-SS0KTGBAXbT8dy);
  --mixin-5lJ_akiZvYS7G6_white-space: pre-wrap;
  --mixin-Cfew8eSoLiJ4Vo_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Cfew8eSoLiJ4Vo_border-bottom-color: #dddddd;
  --mixin-Cfew8eSoLiJ4Vo_border-bottom-style: solid;
  --mixin-Cfew8eSoLiJ4Vo_border-bottom-width: 1px;
  --mixin-Cfew8eSoLiJ4Vo_border-left-color: #dddddd;
  --mixin-Cfew8eSoLiJ4Vo_border-left-style: solid;
  --mixin-Cfew8eSoLiJ4Vo_border-left-width: 1px;
  --mixin-Cfew8eSoLiJ4Vo_border-right-color: #dddddd;
  --mixin-Cfew8eSoLiJ4Vo_border-right-style: solid;
  --mixin-Cfew8eSoLiJ4Vo_border-right-width: 1px;
  --mixin-Cfew8eSoLiJ4Vo_border-top-color: #dddddd;
  --mixin-Cfew8eSoLiJ4Vo_border-top-style: solid;
  --mixin-Cfew8eSoLiJ4Vo_border-top-width: 1px;
  --mixin-Cfew8eSoLiJ4Vo_border-bottom-left-radius: 3px;
  --mixin-Cfew8eSoLiJ4Vo_border-bottom-right-radius: 3px;
  --mixin-Cfew8eSoLiJ4Vo_border-top-left-radius: 3px;
  --mixin-Cfew8eSoLiJ4Vo_border-top-right-radius: 3px;
  --mixin-Cfew8eSoLiJ4Vo_font-family: "Inconsolata";
  --mixin-Cfew8eSoLiJ4Vo_padding-bottom: 3px;
  --mixin-Cfew8eSoLiJ4Vo_padding-left: 6px;
  --mixin-Cfew8eSoLiJ4Vo_padding-right: 6px;
  --mixin-Cfew8eSoLiJ4Vo_padding-top: 3px;
  --mixin-Cfew8eSoLiJ4Vo_white-space: pre-wrap;
  --mixin-ZsZGfr2X2lsXmu_display: flex;
  --mixin-ZsZGfr2X2lsXmu_flex-direction: column;
  --mixin-ZsZGfr2X2lsXmu_align-items: stretch;
  --mixin-ZsZGfr2X2lsXmu_justify-content: flex-start;
  --mixin-ZsZGfr2X2lsXmu_list-style-position: outside;
  --mixin-ZsZGfr2X2lsXmu_padding-left: 40px;
  --mixin-ZsZGfr2X2lsXmu_position: relative;
  --mixin-ZsZGfr2X2lsXmu_list-style-type: decimal;
  --mixin-ZsZGfr2X2lsXmu_white-space: pre-wrap;
  --mixin-atIUjbVVqBBcG-_display: flex;
  --mixin-atIUjbVVqBBcG-_flex-direction: column;
  --mixin-atIUjbVVqBBcG-_align-items: stretch;
  --mixin-atIUjbVVqBBcG-_justify-content: flex-start;
  --mixin-atIUjbVVqBBcG-_list-style-position: outside;
  --mixin-atIUjbVVqBBcG-_padding-left: 40px;
  --mixin-atIUjbVVqBBcG-_position: relative;
  --mixin-atIUjbVVqBBcG-_list-style-type: disc;
  --mixin-atIUjbVVqBBcG-_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-uxCsu6WSQtIc0q_font-family);
  font-size: var(--mixin-uxCsu6WSQtIc0q_font-size);
  font-weight: var(--mixin-uxCsu6WSQtIc0q_font-weight);
  font-style: var(--mixin-uxCsu6WSQtIc0q_font-style);
  color: var(--mixin-uxCsu6WSQtIc0q_color);
  text-align: var(--mixin-uxCsu6WSQtIc0q_text-align);
  text-transform: var(--mixin-uxCsu6WSQtIc0q_text-transform);
  line-height: var(--mixin-uxCsu6WSQtIc0q_line-height);
  letter-spacing: var(--mixin-uxCsu6WSQtIc0q_letter-spacing);
  white-space: var(--mixin-uxCsu6WSQtIc0q_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-fXIcBeV4GFcc3j_color);
  font-weight: var(--mixin-fXIcBeV4GFcc3j_font-weight);
  font-size: var(--mixin-fXIcBeV4GFcc3j_font-size);
  line-height: var(--mixin-fXIcBeV4GFcc3j_line-height);
  letter-spacing: var(--mixin-fXIcBeV4GFcc3j_letter-spacing);
  font-family: var(--mixin-fXIcBeV4GFcc3j_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-WXYzd-cwU9In0t_color);
  font-weight: var(--mixin-WXYzd-cwU9In0t_font-weight);
  font-size: var(--mixin-WXYzd-cwU9In0t_font-size);
  line-height: var(--mixin-WXYzd-cwU9In0t_line-height);
  letter-spacing: var(--mixin-WXYzd-cwU9In0t_letter-spacing);
  font-family: var(--mixin-WXYzd-cwU9In0t_font-family);
  box-shadow: var(--mixin-WXYzd-cwU9In0t_box-shadow);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-HKl4QnzIHBCy5a_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-H584kZaFklEC9R_color);
  font-weight: var(--mixin-H584kZaFklEC9R_font-weight);
  font-size: var(--mixin-H584kZaFklEC9R_font-size);
  line-height: var(--mixin-H584kZaFklEC9R_line-height);
  letter-spacing: var(--mixin-H584kZaFklEC9R_letter-spacing);
  font-family: var(--mixin-H584kZaFklEC9R_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-fkht-zK0OVP_Xq_color);
  font-weight: var(--mixin-fkht-zK0OVP_Xq_font-weight);
  font-size: var(--mixin-fkht-zK0OVP_Xq_font-size);
  line-height: var(--mixin-fkht-zK0OVP_Xq_line-height);
  letter-spacing: var(--mixin-fkht-zK0OVP_Xq_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-xsFjTk8N4MGH1Q_font-family);
  border-radius: var(--mixin-xsFjTk8N4MGH1Q_border-top-left-radius)
    var(--mixin-xsFjTk8N4MGH1Q_border-top-right-radius)
    var(--mixin-xsFjTk8N4MGH1Q_border-bottom-right-radius)
    var(--mixin-xsFjTk8N4MGH1Q_border-bottom-left-radius);
  padding: var(--mixin-xsFjTk8N4MGH1Q_padding-top)
    var(--mixin-xsFjTk8N4MGH1Q_padding-right)
    var(--mixin-xsFjTk8N4MGH1Q_padding-bottom)
    var(--mixin-xsFjTk8N4MGH1Q_padding-left);
  border-top: var(--mixin-xsFjTk8N4MGH1Q_border-top-width)
    var(--mixin-xsFjTk8N4MGH1Q_border-top-style)
    var(--mixin-xsFjTk8N4MGH1Q_border-top-color);
  border-right: var(--mixin-xsFjTk8N4MGH1Q_border-right-width)
    var(--mixin-xsFjTk8N4MGH1Q_border-right-style)
    var(--mixin-xsFjTk8N4MGH1Q_border-right-color);
  border-bottom: var(--mixin-xsFjTk8N4MGH1Q_border-bottom-width)
    var(--mixin-xsFjTk8N4MGH1Q_border-bottom-style)
    var(--mixin-xsFjTk8N4MGH1Q_border-bottom-color);
  border-left: var(--mixin-xsFjTk8N4MGH1Q_border-left-width)
    var(--mixin-xsFjTk8N4MGH1Q_border-left-style)
    var(--mixin-xsFjTk8N4MGH1Q_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-BvvRaTjk-38jUF_color);
  padding-left: var(--mixin-BvvRaTjk-38jUF_padding-left);
  border-left: var(--mixin-BvvRaTjk-38jUF_border-left-width)
    var(--mixin-BvvRaTjk-38jUF_border-left-style)
    var(--mixin-BvvRaTjk-38jUF_border-left-color);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-3o-MzBpT9LLBQS_font-family);
  color: var(--mixin-3o-MzBpT9LLBQS_color);
  font-size: var(--mixin-3o-MzBpT9LLBQS_font-size);
  font-weight: var(--mixin-3o-MzBpT9LLBQS_font-weight);
  line-height: var(--mixin-3o-MzBpT9LLBQS_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-5lJ_akiZvYS7G6_font-family);
  font-size: var(--mixin-5lJ_akiZvYS7G6_font-size);
  font-weight: var(--mixin-5lJ_akiZvYS7G6_font-weight);
  color: var(--mixin-5lJ_akiZvYS7G6_color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Cfew8eSoLiJ4Vo_font-family);
  border-radius: var(--mixin-Cfew8eSoLiJ4Vo_border-top-left-radius)
    var(--mixin-Cfew8eSoLiJ4Vo_border-top-right-radius)
    var(--mixin-Cfew8eSoLiJ4Vo_border-bottom-right-radius)
    var(--mixin-Cfew8eSoLiJ4Vo_border-bottom-left-radius);
  padding: var(--mixin-Cfew8eSoLiJ4Vo_padding-top)
    var(--mixin-Cfew8eSoLiJ4Vo_padding-right)
    var(--mixin-Cfew8eSoLiJ4Vo_padding-bottom)
    var(--mixin-Cfew8eSoLiJ4Vo_padding-left);
  border-top: var(--mixin-Cfew8eSoLiJ4Vo_border-top-width)
    var(--mixin-Cfew8eSoLiJ4Vo_border-top-style)
    var(--mixin-Cfew8eSoLiJ4Vo_border-top-color);
  border-right: var(--mixin-Cfew8eSoLiJ4Vo_border-right-width)
    var(--mixin-Cfew8eSoLiJ4Vo_border-right-style)
    var(--mixin-Cfew8eSoLiJ4Vo_border-right-color);
  border-bottom: var(--mixin-Cfew8eSoLiJ4Vo_border-bottom-width)
    var(--mixin-Cfew8eSoLiJ4Vo_border-bottom-style)
    var(--mixin-Cfew8eSoLiJ4Vo_border-bottom-color);
  border-left: var(--mixin-Cfew8eSoLiJ4Vo_border-left-width)
    var(--mixin-Cfew8eSoLiJ4Vo_border-left-style)
    var(--mixin-Cfew8eSoLiJ4Vo_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ZsZGfr2X2lsXmu_display);
  flex-direction: var(--mixin-ZsZGfr2X2lsXmu_flex-direction);
  align-items: var(--mixin-ZsZGfr2X2lsXmu_align-items);
  justify-content: var(--mixin-ZsZGfr2X2lsXmu_justify-content);
  list-style-position: var(--mixin-ZsZGfr2X2lsXmu_list-style-position);
  padding-left: var(--mixin-ZsZGfr2X2lsXmu_padding-left);
  position: var(--mixin-ZsZGfr2X2lsXmu_position);
  list-style-type: var(--mixin-ZsZGfr2X2lsXmu_list-style-type);
  flex-column-gap: var(--mixin-ZsZGfr2X2lsXmu_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-atIUjbVVqBBcG-_display);
  flex-direction: var(--mixin-atIUjbVVqBBcG-_flex-direction);
  align-items: var(--mixin-atIUjbVVqBBcG-_align-items);
  justify-content: var(--mixin-atIUjbVVqBBcG-_justify-content);
  list-style-position: var(--mixin-atIUjbVVqBBcG-_list-style-position);
  padding-left: var(--mixin-atIUjbVVqBBcG-_padding-left);
  position: var(--mixin-atIUjbVVqBBcG-_position);
  list-style-type: var(--mixin-atIUjbVVqBBcG-_list-style-type);
  flex-column-gap: var(--mixin-atIUjbVVqBBcG-_flex-column-gap);
}
