.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SS0KTGBAXbT8dy);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__nr6CJ {
  --plsmc-rc-col-gap: 0px;
}
.columns__nr6CJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__nr6CJ > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nr6CJ > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__nr6CJ > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nr6CJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nr6CJ > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xrWoZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__xrWoZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column__xrWoZ > :global(.__wab_flex-container) > *,
.column__xrWoZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xrWoZ > :global(.__wab_flex-container) > picture > img,
.column__xrWoZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text__n8E0J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__n8E0J {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column___1F2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: var(--token-Rh43C_vL1nkvZn);
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___1F2 {
    padding: 0px 8px;
  }
}
.h5__gucOo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__gucOo {
    margin: 0px 0px 15px;
  }
}
.link___6AQjT {
  position: relative;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-UUpHj8X7_P2WCD);
  align-self: auto;
  text-align: center;
  margin: 0px 0px 0.75em;
}
.link__qk2Te {
  position: relative;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-UUpHj8X7_P2WCD);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__noJh {
  position: relative;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-UUpHj8X7_P2WCD);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__g9UKw {
  position: relative;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-UUpHj8X7_P2WCD);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__g9UKw {
    margin: 0px 0px 1.5em;
  }
}
.link___3IjlK {
  position: relative;
  color: var(--token-Rh43C_vL1nkvZn);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.column__gdWw8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: var(--token-Rh43C_vL1nkvZn);
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__gdWw8 {
    padding: 0px 8px;
  }
}
.h5___1Xo9R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5___1Xo9R {
    margin: 0px 0px 15px;
  }
}
.columns__bTrZw {
  --plsmc-rc-col-gap: 0px;
}
.columns__bTrZw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-Rh43C_vL1nkvZn);
  min-width: 0;
  border-style: solid;
}
.columns__bTrZw > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bTrZw > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__bTrZw > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bTrZw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bTrZw > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bTrZw > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bTrZw > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__whz9C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mQjjo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mQjjo > picture > img {
  object-fit: cover;
}
.img__mQjjo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__gvyCz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cgglx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cgglx > picture > img {
  object-fit: cover;
}
.img__cgglx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__dg9Fi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__nf478 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__nf478 > picture > img {
  object-fit: cover;
}
.img__nf478 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__yehTp {
  --plsmc-rc-col-gap: 0px;
}
.columns__yehTp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-Rh43C_vL1nkvZn);
  min-width: 0;
  border-style: solid;
}
.columns__yehTp > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__yehTp > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__yehTp > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yehTp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yehTp > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yehTp > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yehTp > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__hjkEk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bsXSt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__bsXSt > picture > img {
  object-fit: cover;
}
.img__bsXSt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mkMbM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uzBpz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uzBpz > picture > img {
  object-fit: cover;
}
.img__uzBpz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__o7WDy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ospa1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ospa1 > picture > img {
  object-fit: cover;
}
.img__ospa1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text__blCPh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-UUpHj8X7_P2WCD);
  min-width: 0;
  margin: 1em 0px 0px;
}
