.root {
  --plsmc-rc-col-gap: 0px;
}
.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-SS0KTGBAXbT8dy);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___523B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__eEWl5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__vTyVw {
  --plsmc-rc-col-gap: 0px;
}
.columns__vTyVw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__vTyVw > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vTyVw > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vTyVw > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vTyVw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vTyVw > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mu7DC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__gbOgI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__gbOgI > picture > img {
  object-fit: cover;
}
.img__gbOgI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__fsoV3 {
  --plsmc-rc-col-gap: 0px;
}
.columns__fsoV3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__fsoV3 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fsoV3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fsoV3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___0GBh6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__qQoWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__qQoWd {
    font-size: 20px;
  }
}
.text___4RwwI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__e0K3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__bi5DI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__efXr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__inuVc {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg___7IpnS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__w8ZNi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__vzJo3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__vzJo3 > picture > img {
  object-fit: cover;
}
.img__vzJo3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__vTPgk {
  --plsmc-rc-col-gap: 0px;
}
.columns__vTPgk {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__vTPgk > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vTPgk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vTPgk > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gLuRk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__xbpV0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__xbpV0 {
    font-size: 20px;
  }
}
.text__y97A6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__saoo6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___8GiPu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__zGp6R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uUbu {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__kkXs0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___8FJo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__fJdYy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__fJdYy > picture > img {
  object-fit: cover;
}
.img__fJdYy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ocpgo {
  --plsmc-rc-col-gap: 0px;
}
.columns__ocpgo {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__ocpgo > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ocpgo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ocpgo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lJlIm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__by8Du {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__by8Du {
    font-size: 20px;
  }
}
.text__j7Yu3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding-left: 0px;
  min-width: 0;
}
.text__hTZir {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__b83Kf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__rHdR0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qrLzd {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__cvcuo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__vMigW {
  --plsmc-rc-col-gap: 0px;
}
.columns__vMigW {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__vMigW > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vMigW > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vMigW > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vMigW {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vMigW > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___2XftQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__w8Gh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__w8Gh > picture > img {
  object-fit: cover;
}
.img__w8Gh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ebVok {
  --plsmc-rc-col-gap: 0px;
}
.columns__ebVok {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__ebVok > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ebVok {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ebVok > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xBgHv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__wciSi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__wciSi {
    font-size: 20px;
  }
}
.text__l7QM2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__wmrUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__w6Hxt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__dFuZx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__iWwC0 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__nmOq5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cJsOc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__h8Dhf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__h8Dhf > picture > img {
  object-fit: cover;
}
.img__h8Dhf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___6FQEt {
  --plsmc-rc-col-gap: 0px;
}
.columns___6FQEt {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns___6FQEt > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6FQEt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6FQEt > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xXzB3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__worjc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__worjc {
    font-size: 20px;
  }
}
.text___3J5H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__bZDv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__ujrs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__eh3Cv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2Lyhm {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg___4DonO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__qTiBc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__krlBs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__krlBs > picture > img {
  object-fit: cover;
}
.img__krlBs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__hsOxi {
  --plsmc-rc-col-gap: 0px;
}
.columns__hsOxi {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__hsOxi > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hsOxi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hsOxi > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gF1Sg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__afMuK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__afMuK {
    font-size: 20px;
  }
}
.text__kHgoi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__fHXmj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___41SkL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__vqhqc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__j8G8H {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__qiftr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__s4Fo {
  --plsmc-rc-col-gap: 0px;
}
.columns__s4Fo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__s4Fo > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__s4Fo > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__s4Fo > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s4Fo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s4Fo > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oNVk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__uaNt4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__uaNt4 > picture > img {
  object-fit: cover;
}
.img__uaNt4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__u8Aze {
  --plsmc-rc-col-gap: 0px;
}
.columns__u8Aze {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__u8Aze > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__u8Aze {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__u8Aze > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9MuBx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__dJm6T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__dJm6T {
    font-size: 20px;
  }
}
.text___2Ifpe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__xqHKw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__gbOl8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___9ZbuE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__olhVf {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__rSVdy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__x22F3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__vf4R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__vf4R > picture > img {
  object-fit: cover;
}
.img__vf4R > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__bOv {
  --plsmc-rc-col-gap: 0px;
}
.columns__bOv {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__bOv > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bOv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bOv > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3JIwc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__unYj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__unYj2 {
    font-size: 20px;
  }
}
.text__sFt2C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__arh8F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__h1XeA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__zOkBe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lQt4Y {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__ryrLf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__fJbiR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__sfHyk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__sfHyk > picture > img {
  object-fit: cover;
}
.img__sfHyk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__oKpk {
  --plsmc-rc-col-gap: 0px;
}
.columns__oKpk {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-EeXtmnxPeQBMX3);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__oKpk > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__oKpk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__oKpk > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dFhK3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__hzMgC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-size: var(--token-4Ps6iE3N1ZedqZ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__hzMgC {
    font-size: 20px;
  }
}
.text___9RfTz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dRNJS7yjGvF3yj);
  font-size: var(--token-UUpHj8X7_P2WCD);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__wMNrJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Rh43C_vL1nkvZn);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___9MqqG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__pu9Ie {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2Gb6W {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__kgdIy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
